<!DOCTYPE html>
<html lang="zh-CN">
  
<!-- head -->
<%- partial('_partial/head') %>

<!-- body -->
<body>
  <%- partial('_partial/main-nav') %>
  <%- body %>
  <%- partial('_partial/footer') %>
</body>

</html>