<header class="hd-img">
  <div class="overlay"></div>
  <div class="container">
    <div class="hd-title">
      <%- partial('_partial/post/title', {post: page, index: false, class_name: 'article-top-title'})%>
    </div>
  </div>
</header>