.container
    margin: auto
    padding: 0 5px
    width: 900px
    overflow-x: hidden


@import '_partial/bootstrap'
@import '_partial/main-nav'
@import '_partial/header'
@import '_partial/index'
@import '_partial/post'
@import '_partial/archive'
@import '_partial/footer'
@import '_partial/media'

   
