<footer id="footer">
  <div class="container">
    <div class="footer-wrap">
        <div class="footer-info">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
        Powered by <a href="http://hexo.io/" target="_blank">Hexo</a> &nbsp; Theme: <a href="https://github.com/lchord/Re_/" target="_blank">Re_</a>
      </div>
    </div>
  </div>
</footer>