<nav id=main-nav>
  <div class="nav-wrap">
    <div id="menu">
      <% for (var i in theme.menu){ %>
        <% t = __(i) %>
        <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%=  t  %></a>
      <% } %>
    </div>
  </div>
</nav>