<nav id=main-nav>
  <div class="nav-wrap">
    <div id="menu">
      <% for (var i in theme.menu){ %>
        <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
      <% } %>
    </div>
  </div>
</nav>