.archive-wrap
    margin: 0 10px

.archive-year-wrap
    padding-left: 1.5rem
    font-size: 2rem
    font-weight: 500
    color: #555555
    padding-top: 0.9rem
    padding-bottom: 0.9rem


.archive-article-date
    display: inline-block
    float: left
    font-size: 1.25rem
    a,time  
        color: #999999

.archive-article-title
    margin-left: 1.6rem
    display: inline-block
    font-size: 1.5rem
    border-left: 1px
    line-height: 1.2
    color: #555555
    &:hover
        color: #555555
.archive-article
    padding: 9px 0
    line-height: 1.5
    overflow: hidden
    display: flex
    align-items: center

.archive-article
    border-left: .5px solid #e8e8e8
    padding-left: 1.5rem
    transition: border .3s;
    -moz-transition: border .3s; /* Firefox 4 */
    -webkit-transition: border .3s; /* Safari and Chrome */
    -o-transition: border .3s; /* Opera */
    &:hover
        border-left: 3px solid #555555
        
#archive-page-nav

    padding: 50px 20px 0 20px
    text-align: center
    margin: 10px 0 20px 0
    .prev
    .next
    .page-number
        color: #666
        font-weight: 600
        margin: 5px 10px
        padding: 3px 11px
        font-size: 1.1rem
        border: 2px solid #666
        border-radius: 10px
    .current
        color: #ffffff
        background: #666

.archive-page
    margin-bottom: 45px
    

    

    