#footer
    margin-top: 50px
    margin-bottom: 20px
    text-align: center
    color: #999999
    a
        color: #999999
        border-bottom: 1px dashed #999999
    .footer-x
        overflow-x: visible
