.hd-img
    
    background-image: url(/img/hd-img.png)
    background-repeat: no-repeat
    background-position: center
    height: 50vw
    max-height: 345px
   
    position: relative;
    background-size: cover;
    margin-bottom: 60px

.overlay
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: .3;

.hd-title
    width: 900px
    margin: 0 0 10px 0
    position: absolute
    bottom: 10px
    display: inline-block
    color: #ffffff
    h1 
        margin: 0
        font-size: 4.5rem
    p
        font-size: 1.6rem
        color: #e8e8e8
        margin: 0

