.article-index-list
    overflow: hidden
    margin-bottom: 60px
    article+article
        margin-top: 50px
        padding-top: 50px
        border-top: 1px solid #f7f7f7
    .article-header
        a
            color: #555555
    .article-excerpt
        margin: 15px 0
        p
            font-size: 1.2rem
            line-height: 1.6em
            letter-spacing: 0.02rem
    .article-meta
        color: #999999
        a
            color: #999999
            border-bottom: 1px dashed #999999

#page-nav
    border-top: 1px dashed #f3f3f3
    padding: 30px 20px 0 20px
    text-align: center
    margin: 60px 0 30px 0
    .prev
    .next
    .page-number
        color: #666
        font-weight: 600
        margin: 5px 10px
        padding: 3px 11px
        font-size: 1.1rem
        border: 2px solid #666
        border-radius: 10px
        
    
    .current
        color: #ffffff
        background: #666