#main-nav
    overflow: hidden
    z-index: 1018
    position: absolute
    top: 0
    right: 0
    left: 0
    
.nav-wrap
    display: flex
    width: 90%
    margin: auto
    align-items: center
    padding: 0 5px
    flex-direction: row
    
#logo
    display: inline-block
    padding: 2px
    font-size: 1.6rem
    font-weight: 900
    color: #ffffff
    text-transform: uppercase

#menu
    display: flex
    flex-direction: row
    padding-left: 0
    margin-bottom: 0
    list-style: none
    margin-left: auto !important
    a
        text-transform: uppercase
        font-size: 1.2rem
        font-weight: 600
        letter-spacing: 1px
        color: #ffffff
        line-height: 3.2em
    a+a
        margin-left: 30px

.nav-toggle
    display: none