@media screen and (max-width: 1000px)
    .hd-title
    .container
        width: 90%
    .hd-title
        margin: 100px 0 px 0

    .nav-wrap
        width: 100%
        background: #ffffff
        align-items: center
    
    #menu
        text-align: center
        a
            color:#555
            font-size: 1rem
        a+a
            margin-left: 20px
    
    #logo
        display: inline-block
        padding: 2px
        font-size: 1.5rem
        font-weight: 800
        color: #555555
    
    #article-nav
        .article-nav-word
            color: #555555
            font-weight: 600
        .mobile-hidden
            display: none



    