h1.article-top-title
    font-size: 3em

.hd-title
    .article-meta
        margin-top: 10px
        span,a
            color: #f3f3f3
            font-size: 1.2rem
        a
            border-bottom: 1px dashed #f3f3f3

.article-content
    margin-bottom: 50px
    p
        font-size: 1.2rem
        line-height: 1.6em
        letter-spacing: 0.02rem