h1.article-top-title
    font-size: 3em

.hd-title
    .article-meta
        margin-top: 10px
        span,a
            color: #f3f3f3
            font-size: 1.2rem
        a
            border-bottom: 1px dashed #f3f3f3

.article-content
    margin-bottom: 50px
    p, ul, li
        font-size: 1.1rem
        line-height: 1.5em
        letter-spacing: 0.02rem
    img 
        width: 100%
    
    h1, h2, h3 
        margin-top: 1.2rem
        margin-bottom: 0.6rem
    
    figure
        max-width 100%
        position: relative;
        overflow: auto!important
        margin-top: 0.9rem
        margin-bottom: 0.9rem
        display: block
        padding: 0.9rem 1.1rem
        background: #f8f9fa
    
    figcaption 
        overflow: hidden
        margin-bottom: 0.2rem
        a
           float: right

    pre 
    
        display: block
        padding: 0
        margin: 0

    blockquote
        padding: 0.3rem 1.2rem
        border-left: 5px solid #eee
        margin: 1rem 0 1rem
        footer 
            display: block
            color: #6c757d
            &::before
                content: "\2014 \00A0"
        p 
            margin-top: 0.5rem !important
            margin-bottom: 0.5rem !important
        cite::before
            content: ', '

#article-page
    margin-top: 50px
    margin-bottom: 60px

#article-nav
    border-top: 1px solid #f7f7f7
    padding-top: 16px

.article-nav-item
    width: 50%

#article-nav-prev
    float: left

#article-nav-next
    float: right
    text-align: right

.article-nav-word
    color: #999

.article-nav-title
    font-size: 1.5em
    font-weight: 500
    color: #555555
            
