h1.article-top-title
    font-size: 3em

.hd-title
    .article-meta
        margin-top: 10px
        span,a
            color: #f3f3f3
            font-size: 1.2rem
        a
            border-bottom: 1px dashed #f3f3f3

.article-content
    margin-bottom: 50px
    p
        font-size: 1.1rem
        line-height: 1.5em
        letter-spacing: 0.02rem

#article-page
    margin-top: 50px
    margin-bottom: 60px


#article-nav
    border-top: 1px solid #f7f7f7
    padding-top: 16px

.article-nav-item
    width: 50%

#article-nav-prev
    float: left

#article-nav-next
    float: right
    text-align: right

.article-nav-word
    color: #999

.article-nav-title
    font-size: 1.5em
    font-weight: 500
    color: #555555
            
